fastapi
uvicorn
sqlalchemy
pandas
numpy
scikit-learn
joblib
langchain
langchain-core
langchain-google-genai
langchain-community
google-generativeai
requests
python-dotenv
pydantic
faker
matplotlib
seaborn